ACTION=="add|change", KERNEL=="mmcblk0*", ENV{UDISKS_SYSTEM}="0"
ACTION=="add|change", KERNEL=="mmcblk0*", OWNER="furios", GROUP="furios"
ACTION=="add|change", KERNEL=="mmcblk0p[0-9]*", ENV{ID_FS_USAGE}=="filesystem", ENV{UDISKS_AUTO}="0", TAG+="systemd", ENV{SYSTEMD_WANTS}="media-furios@%k.service"
